.vagas-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}
mat-card-content p {
  white-space: normal;
  overflow: visible;
  word-break: break-word;
}
mat-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
  word-wrap: break-word;
}

.snack-confirm {
  background-color: #ffcc00;
  color: #000;
}

.snack-success {
  background-color: #4caf50;
  color: white;
}

.snack-error {
  background-color: #f44336;
  color: white;
}
